*{
    padding: 0;
    margin: 0;
}
/* navbar */
#home{
    margin-left: 300px;
}
#search{
    margin-top: 5px;
}
.nav-link:hover{
    text-decoration: underline;
    color: darkgreen !important;
}
/* hero */
#hero-text{
    padding-top: 110px;
    padding-left: 300px;
}
#hero-img{
    padding-right: 200px;
    padding-top: 40px;
}
#hero-btn:hover {
    border: 1px solid darkgreen;
    background-color: white !important;
    color: darkgreen !important;
}
/* category */
#cg:hover{
    text-decoration: underline;
    color: darkgreen !important;
}
#category{
    border-bottom: 1px solid rgba(0, 0, 0, 0.138);
}
/* featured products */
#c:hover{
    cursor: pointer;
    box-shadow: 5px 2px 10px black;
}
/* top sale  */
#bg2{
    background-image: url(Photo/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* footer  */
#f-icon:hover{
    cursor: pointer;
    text-decoration: underline;
}